<ion-header>
  <ion-toolbar  color="primary">
    <ion-title>Galeria de Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>
    <img src="https://images-americanas.b2w.io/produtos/01/00/img/1447209/3/1447209361_1GG.jpg">
    <ion-card-header>
      <ion-card-subtitle>Smartphone Samsung Galaxy A71</ion-card-subtitle>
      <ion-card-title>R$ 2.231,07</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img src="https://images-americanas.b2w.io/produtos/01/00/img/1962217/0/1962217075_1GG.jpg">
    <ion-card-header>
      <ion-card-subtitle>Smartphone Samsung Galaxy A71</ion-card-subtitle>
      <ion-card-title>R$ 2.231,07</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img src="https://images-americanas.b2w.io/produtos/01/00/img/1447209/3/1447209361_1GG.jpg">
    <ion-card-header>
      <ion-card-subtitle>Smartphone Samsung Galaxy A71</ion-card-subtitle>
      <ion-card-title>R$ 2.231,07</ion-card-title>
    </ion-card-header>
  </ion-card>

<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button href="home"  color="danger">
    <ion-icon name="home"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button href="galeria"  color="danger">
    <ion-icon name="images"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button href="contatos"  color="danger">
    <ion-icon name="call"></ion-icon>
  </ion-fab-button>
</ion-fab>
<br><br><br><br>
</ion-content>
