<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Promoções do dia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list>
    <ion-item>
      <ion-avatar slot="end">
        <img src="https://images-americanas.b2w.io/produtos/01/00/img/1834712/0/1834712080_3GG.jpg">
      </ion-avatar>
      
      <ion-label>
        <h1>Sansung Galaxy</h1>
        <p>R$599,00</p>
      </ion-label>
    </ion-item>

    <ion-item>

      <ion-avatar slot="end">
        <img src="https://images-americanas.b2w.io/produtos/01/00/img/1834712/0/1834712080_2GG.jpg">
      </ion-avatar>

      <ion-label>
        <h1>Motorola Moto G9</h1>
        <p>R$1.091,00</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="end">
        <img src="https://images-americanas.b2w.io/produtos/01/00/img/1834712/0/1834712080_3GG.jpg">
      </ion-avatar>
      <ion-label>
        <h1>Iphone 11</h1>
        <p>R$4.649,00</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="end">
        <img src="https://images-americanas.b2w.io/produtos/01/00/img/1447209/3/1447209361_3GG.jpg">
      </ion-avatar>
      <ion-label>
        <h1>Poco F3</h1>
        <p>R$3.990,00</p>
      </ion-label>
    </ion-item>


    <ion-item>
      <ion-avatar slot="end">
        <img src="https://images-americanas.b2w.io/produtos/01/00/img/1834712/0/1834712080_3GG.jpg">
      </ion-avatar>
      
      <ion-label>
        <h1>Sansung Galaxy</h1>
        <p>R$599,00</p>
      </ion-label>
    </ion-item>

    <ion-item>

      <ion-avatar slot="end">
        <img src="https://images-americanas.b2w.io/produtos/01/00/img/1834712/0/1834712080_2GG.jpg">
      </ion-avatar>

      <ion-label>
        <h1>Motorola Moto G9</h1>
        <p>R$1.091,00</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="end">
        <img src="https://images-americanas.b2w.io/produtos/01/00/img/1834712/0/1834712080_3GG.jpg">
      </ion-avatar>
      <ion-label>
        <h1>Iphone 11</h1>
        <p>R$4.649,00</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="end">
        <img src="https://images-americanas.b2w.io/produtos/01/00/img/1447209/3/1447209361_3GG.jpg">
      </ion-avatar>
      <ion-label>
        <h1>Poco F3</h1>
        <p>R$3.990,00</p>
      </ion-label>
    </ion-item>


    <ion-item>
      <ion-avatar slot="end">
        <img src="https://images-americanas.b2w.io/produtos/01/00/img/1834712/0/1834712080_3GG.jpg">
      </ion-avatar>
      
      <ion-label>
        <h1>Sansung Galaxy</h1>
        <p>R$599,00</p>
      </ion-label>
    </ion-item>

    <ion-item>

      <ion-avatar slot="end">
        <img src="https://images-americanas.b2w.io/produtos/01/00/img/1834712/0/1834712080_2GG.jpg">
      </ion-avatar>

      <ion-label>
        <h1>Motorola Moto G9</h1>
        <p>R$1.091,00</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="end">
        <img src="https://images-americanas.b2w.io/produtos/01/00/img/1834712/0/1834712080_3GG.jpg">
      </ion-avatar>
      <ion-label>
        <h1>Iphone 11</h1>
        <p>R$4.649,00</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="end">
        <img src="https://images-americanas.b2w.io/produtos/01/00/img/1447209/3/1447209361_3GG.jpg">
      </ion-avatar>
      <ion-label>
        <h1>Poco F3</h1>
        <p>R$3.990,00</p>
      </ion-label>
    </ion-item>
</ion-list>

<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button href="home" color="danger">
    <ion-icon name="home"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button href="galeria"  color="danger">
    <ion-icon name="images"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button href="contatos"  color="danger">
    <ion-icon name="call"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
